@import "true";
@import "./z-index";

@include test-module("Mixins") {
  @include test-module("Given z-index mixin") {
      @include test("When used with a default list of z-indices: (0, 1)") {
        @include test("- Then it generates the z-index-0 and z-index-1 helper classes") {
        @include assert {
          @include output {
            .z-index {
              @include z-index($z-index-list);
            }
          }

          @include expect {
            .z-index-0 {
              z-index: 0;
            }

            .z-index-1 {
              z-index: 1;
            }
          }
        }
      }

      @include test("When used with a custom list of z-indices: (1, 2)") {
        @include test("- Then it generates the z-index-0 and z-index-1 helper classes") {

          $z-index-list-failing: 0, 2;

          @include assert {
            @include output {
              .z-index {
                @include z-index($z-index-list-failing);
              }
            }

            @include expect {
              .z-index-0 {
                z-index: 0;
              }

              .z-index-1 {
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
